<form class="form-horizontal" role="form" cam-form>
	<div class="control-group">

		<div style="width:48%; float:left">
			<h4>Kunde</h4>
			<label class="control-label">Vorname:</label>
			<div class="controls">
				<input class="form-control" type="text" cam-variable-type="String" ng-model="ext_kunde.vorname" readonly="true"/>
			</div>
			<label class="control-label">Nachname:</label>
			<div class="controls">
				<input class="form-control" type="text" cam-variable-type="String" ng-model="ext_kunde.nachname" readonly="true" />
			</div>
			<label class="control-label">Straße:</label>
			<div class="controls">
				<input class="form-control" type="text" cam-variable-type="String" ng-model="ext_kunde.strasse" readonly="true" />
			</div>				
			<div>
				<div style="float:left; width: 15%">
					<label class="control-label">PLZ:</label>
					<div class="controls">
						<input class="form-control" type="text" cam-variable-type="Integer" ng-model="ext_kunde.plz" readonly="true"/>
					</div>
				</div>
				<div style="float:right; width: 83%">
					<label class="control-label">Ort:</label>
					<div class="controls">
						<input class="form-control" type="text" cam-variable-type="String" ng-model="ext_kunde.ort" readonly="true" />
					</div>
				</div>
				<div style="clear:both"></div>
			</div>
			
			<h4 style="margin-top:30px">Kfz</h4>
			<label class="control-label">Amtliches Kennzeichen:</label>
			<div class="controls">
				<input class="form-control" type="text" cam-variable-type="String" ng-model="ext_kfz.kennzeichen" readonly="true" />
			</div>
			<label class="control-label">Fahrzeugtyp:</label>
			<div class="controls">
				<input class="form-control" type="text" cam-variable-type="String" ng-model="ext_kfz.fahrzeugtyp" readonly="true" />
			</div>

			<h4 style="margin-top:30px">Schaden</h4>				
			<label class="control-label">Reparaturtyp:</label>
			<div class="controls">
				<input class="form-control" type="text" cam-variable-type="String" ng-model="ext_schaden.reparaturTyp" readonly="true" />
			</div>
			<label class="control-label">Schadensbeschreibung:</label>
			<div class="controls">
				<input class="form-control" type="text" cam-variable-type="String" ng-model="ext_schaden.beschreibung" readonly="true" />
			</div>
			<label class="control-label">Schadenshöhe:</label>
			<div class="controls">
				<input class="form-control" type="text" id="ext_schadenshoehe" cam-variable-type="String" ng-model="ext_schadenshoeheFormatiert" readonly="true" />
			</div>
		</div>
		<div style="width:48%; float:right">
			<h4>Anhang</h4>
			<label class="control-label">Typ:</label>
			<div class="controls">
				<input class="form-control" type="text" cam-variable-type="String" ng-model="ext_anhang.anhangTyp" readonly="true" />
			</div>
			<label class="control-label">Dateiname:</label>
			<div class="controls">
				<input class="form-control" type="text" cam-variable-type="String" ng-model="ext_anhang.dateiname" readonly="true" />
			</div>
			<!-- die Rechnungsdatei (PDF oder Bild) wird dynamisch per JavaScript in dieses DIV geladen -->
			<div id="rechnung" style="width: 100%; height: 560px; margin-top:20px"></div>
		</div>
		<div style="clear:both"></div>
	
		<label class="control-label" style="margin-top:20px">Versicherungsscheinnummer:</label>
		<div class="controls" style="margin-bottom:20px">
			<input class="form-control" type="text" cam-variable-type="String" cam-variable-name="ext_vsnr" />
		</div>

		<script cam-script type="text/form-script">

			var variableManager = camForm.variableManager;

			camForm.on('form-loaded', function() {
				variableManager.fetchVariable('ext_kunde');
				variableManager.fetchVariable('ext_schaden');
				variableManager.fetchVariable('ext_kfz');
				variableManager.fetchVariable('ext_anhang');
				variableManager.fetchVariable('ext_dateiname');
			});

			camForm.on('variables-fetched', function() {
				$scope.kunde = variableManager.variable('ext_kunde').value;
				$scope.schaden = variableManager.variable('ext_schaden').value;
				$scope.kfz = variableManager.variable('ext_kfz').value;
				$scope.anhang = variableManager.variable('ext_anhang').value;

				$scope.ext_schadenshoeheFormatiert = ($scope.ext_schaden.ext_schadenshoehe / 100).toFixed(2).replace('.', ',') + ' €';

				var ext_dateiname = variableManager.variables.ext_dateiname.value;
				var ext_extension = ext_dateiname.substring(ext_dateiname.lastIndexOf('.') + 1, ext_dateiname.length).toLowerCase();
				var servletUrl = '/viasurance-kfzglasbruch-prozess-0.9.0/getFile?name=' + ext_dateiname;

				// Rechnungsdatei (PDF- oder Bilddatei) in <div>-Container einfügen
				var div = $('#rechnung');
				var html = '<p>Die Rechnungsdatei kann leider nicht angezeigt werden.</p>';
				if(extension == 'pdf') {
					// es wird ein IFrame (mit Breite 99%) verwendet, da dann in allen Browsern
					// das PDF korrekt gezoomt und ohne horizontale Scrollbalken angezeigt wird
					html = '<iframe src="' + servletUrl + '" style="width: 99%; height: 100%; border: 0" />';

				} else if (extension == 'jpg' || extension == 'jpeg' || extension == 'png' || extension == 'gif' || extension == 'bmp') {
					// bei Bildern wird ein normales <img>-htmlent verwendet
					html = '<img src="' + servletUrl + '" style="width: 100%" />';
					// Scrollbalken im <div>-Container erzwingen, wenn das Bild zu groß ist
					div.css('overflow', 'auto');
				}
				div.html(html);
			});
		</script>
	</div>
</form>